/* style.css */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 50%;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

#question {
    font-size: 18px;
    color: #555;
}

#answers {
    list-style-type: none;
    padding: 0;
}

.answer-btn {
    background-color:  #6237c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*.answer-btn:hover {
    background: linear-gradient(to right, #591CE6 5%, #F9598D 45%, #FB8B61 85%);
}*/

#next-btn {
    background-color: #6237c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*next-btn:hover {
    background: linear-gradient(to right, #591CE6 5%, #F9598D 45%, #FB8B61 85%);
}*/


header .logo img {
    color: var(--bg-white);
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    padding: 10px;
    color: var(--bg-white);
    font-weight: bold;
}